.tempo_toolbar {
    background-color: #1a1a1a;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.tempo_toolbar > span {
    border-right: 2px solid black;
    display: inline-block;
    height: 100%;
    background-color: #1a1a1a;
}

.tempo_toolbar > span button {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1a1a1a;
    border-color: transparent;
    color: white;
    height: 100%;
    margin: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tempo_toolbar > span button:hover {
    background-color: #50504f;
}

.tempo_toolbar > span input[type="number"],
.tempo_toolbar > span input[type="number"]:focus {
    margin-left: 5px;
    border-color: transparent;
    box-shadow: none;
    width: 50px;
    background-color: #1a1a1a;
}

.resync-section {
    
    width: 80px;
}

.resync-section button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #3a3a39;
    border-color: transparent;
}

.resync-section button:hover {
    background-color: #50504f;
}

.master-volume {
    display: flex;
    align-items: center;
    gap: 10px;
}
